.color1 {
	background-color: #88DBB0;
}
.color2 {
	background-color: #6FBDC3;
}

.color3 {
	background-color: #DA3740;
}

.color4 {
	background-color: #EA5B3A;
}

.color5 {
	background-color: #325674;
}

.color6 {
	background-color: #5a7558;
}

.color7 {
	background-color: #EA7558;
}

.color8 {
	background-color: #DD3806;
}

.color9 {
	background-color: #F1C400;
}

body {
	background-size: cover;
	background-repeat: no-repeat;
	transition: 5s ease;
}

.audio_buttons {
	height: 30px;
	background-color: rgba(0, 0, 0, 0);
	position: fixed;
	left: 0;
	bottom: 10px;
}

.footer .glyphicon {
	font-size: 2em;
	padding-left: 0px;
	padding-right: 5px;
	color: white;
}

.song_icons {
	margin-top: 5%;
}

.song_icons .glyphicon {
	color: white;
	font-size: 8em;
	padding-top: .005em;
	padding-bottom: .225em;
}

.large_icons {
	text-align: center;
}

.song_icons {
	/*color: #E3FDDC;*/
	/*color: rgba(255, 255, 255, 0.2);*/
}

.song_icons .play {
	/*color: rgba(255, 255, 255, 0.2);*/
}

.song_icons .paused {
	color: rgba(255, 255, 255, 0.2);
	/*color: rgba(255, 255, 255, 0.5);*/
	/*color: rgba(255, 255, 255, 1);*/
}

.large_icons .glyphicon-plus-sign {
	font-size: 2em;
	margin: 0 auto;
	color: rgba(255, 255, 255, 0.3);
}

.large_icons .glyphicon-minus-sign {
	font-size: 2em;
	margin: 0 auto;
	margin-bottom: 1.25em;
	color: rgba(255, 255, 255, 0.3);
}

.too_small {
	display: none;
}

@media screen and (min-width: 1px) and (max-width: 252px) {
	.too_small {
		display: block;
		font-size: 35px;
		padding: 5px;
		text-align: center;
		margin-top: 100%;
	}

	.container {
		display: none;
	}

	.footer {
		display: none;
	}

	body {
		background-color: yellow;
	}
}

@media screen and (min-width: 253px) and (max-width: 355px) {
    .audio_buttons {
        background-color: black;
        text-align: center;
        width: 100%;
        bottom: 0;
    }

    .container {
    	width: 83%;
    }
}


@media screen and (min-width: 356px) and (max-width: 500px) {
    .audio_buttons {
        background-color: black;
        text-align: center;
        width: 100%;
        bottom: 0;
    }
}

@media screen and (min-width: 500px) and (max-width: 534px) {
	.container {
		width: 55%;
	}
}

@media screen and (min-width: 535px) and (max-width: 653px) {
	.container {
		width: 45%;
	}
}

@media screen and (min-width: 654px) and (max-width: 734px) {
	.container {
		width: 40%;
	}
}

@media screen and (min-width: 735px) and (max-width: 767px) {
	.container {
		width: 60%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1042px) {
	.container {
		width: 100%;
	}

	.audio_buttons {
		bottom: 7%;
		width: 13.1%;
	}
}
















