.color1 {
	background-color: #88DBB0;
}
.color2 {
	background-color: #6FBDC3;
}

.color3 {
	background-color: #DA3740;
}

.color4 {
	background-color: #EA5B3A;
}

.color5 {
	background-color: #325674;
}

.color6 {
	background-color: #5a7558;
}

.color7 {
	background-color: #EA7558;
}

.color8 {
	background-color: #DD3806;
}

.color9 {
	background-color: #F1C400;
}

body {
	background-size: cover;
	background-repeat: no-repeat;
	transition: 5s ease;
}

.audio_buttons {
	height: 30px;
	background-color: rgba(0, 0, 0, 0);
	position: fixed;
	left: 0;
	bottom: 10px;
}

.footer .glyphicon {
	font-size: 2em;
	padding-left: 0px;
	padding-right: 5px;
	color: white;
}

.song_icons {
	margin-top: 5%;
}

.song_icons .glyphicon {
	color: white;
	font-size: 8em;
	padding-top: .005em;
	padding-bottom: .225em;
}

.large_icons {
	text-align: center;
}

.song_icons .clicked {
	color: #E3FDDC;
}

.large_icons .glyphicon-plus-sign {
	font-size: 2em;
	margin: 0 auto;
}

.large_icons .glyphicon-minus-sign {
	font-size: 2em;
	margin: 0 auto;
	margin-bottom: 1.25em;
}

@media screen and (max-width: 500px) {
    .audio_buttons {
        background-color: black;
        text-align: center;
        width: 100%;
        bottom: 0;
    }
}




